#  Everything
*

# Base
!/.gitignore
!/readme.md

#  C and C++ files at the root
!/*.c
!/*.cpp



#  C/C++ files
!/*/
!/*/*.c
!/*/*.cpp

!/*/*/
!/*/*/*.c
!/*/*/*.cpp

!/*/*/*/
!/*/*/*/*.c
!/*/*/*/*.cpp

!/*/*/*/*/
!/*/*/*/*/*.c
!/*/*/*/*/*.cpp

!/*/*/*/*/*/
!/*/*/*/*/*/*.c
!/*/*/*/*/*/*.cpp



# Include everything under Codes/Java
!/Codes/Java/*
!/Codes/Java/**

# Include everything under Codes/Numerical
!/Codes/Numerical/*
!/Codes/Numerical/**
Codes/Numerical/.excalidraw

# Include everything under Codes/Microprocessor
!/Codes/Microprocessor/*
!/Codes/Microprocessor/**

# Include png under Codes/OS
!/Codes/OS/**/*.png
