# Ignore all files without extensions (compiled C/C++ binaries)
*
!*.*
!*/

# Exeptions
!/.gitignore
!/.gitattributes
!/LICENSE
!/README.md
!/SECURITY.md
!/readme.md

# Ignore all node_modules everywhere
**/node_modules/

# Ignore all png,jpg, jpeg, gif, svg, pdf files Codes/Scripts
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.svg
**/*.pdf 

